.photo-grid {
  max-width: 92.5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  margin: 92px auto 0;
  gap: 16px;
}

@media screen and (max-width: 1080px) {
  .photo-grid {
    gap: 14px;
    max-width: 90.5%;
  }
}

@media screen and (max-width: 990px) {
  .photo-grid {
    max-width: 94%;
    gap: 16px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 750px) {
  .photo-grid {
    grid-template-columns: minmax(288px, 1fr);
    margin-top: 64px;
    gap: 12px;
    max-width: 90%;
  }
}
