.lead {
  /* max-width: 984px; */
  max-width: 92.5%;
  margin: 56px auto;
}

@media screen and (max-width: 1080px) {
  .lead {
    /* max-width: 928px; */
    max-width: 90.5%;
    margin-top: 48px;
  }
}

@media screen and (max-width: 990px) {
  .lead {
    max-width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .lead {
    margin-bottom: 64px;
  }
}
