.intro {
  max-width: 92.5%;
  margin: 92px auto 0;
}

@media screen and (max-width: 1080px) {
  .intro {
      max-width: 90.5%;
  }
}

@media screen and (max-width: 990px) {
  .intro {
    max-width: 94%;
    margin-top: 88px;
  }
}

@media screen and (max-width: 750px) {
  .intro {
    max-width: 90%;
    margin-top: 0;
  }
}
