.cover {
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1080px) {
  .cover {
    max-width: 1080px;
  }
}

@media screen and (max-width: 750px) {
  .cover {
    max-width: 100%;
  }
}
