.place__website {
  align-self: self-end;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 750px) {
  .place__website {
    max-width: 288px;
    margin-left: 5%;
    margin-right: auto;
  }
}
